*{
    margin: 0;
    box-sizing: border-box;
}

/* impostazioni header */
header{
    background-color: white;
}

header h1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    height: 60px;
    line-height: 60px; 
    vertical-align: middle;
    margin: 10px;
}
/* corpo principale */
body{
    background-color: azure;
}

#container{
    width: 80%;
    height: auto;
    margin: 40px auto;
    background-color: white;
}

/* pulsanti iniziali */
#button{
    border-bottom: solid 2px azure;
    padding: 20px;
}

#task{
    background-color: aqua;
}