*{
    margin: 0;
    box-sizing: border-box;
}

/* impostazioni header */
header{
    background-color: white;
}

header h1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    height: 60px;
    line-height: 60px; 
    vertical-align: middle;
    margin: 10px;
}
/* corpo principale */
body{
    background-color: azure;
}

#container{
    width: 80%;
    height: auto;
    margin: 40px auto;
    background-color: white;
}

/* pulsanti iniziali */
#button{
    border-bottom: solid 2px azure;
    padding: 20px;
}

#task{
    background-color:rgb(0, 217, 255) ;
    border-color:rgb(0, 217, 255);
    color: white;
}

#addsection{
    background-color: white;
    border-color: #ccc;
    color: #ccc;
}

/* macrotitoli */

#lista{
    padding: 40px;
    line-height: 30px;
}

.title{
    display: inline-block;
    margin: 10px;
}

.argomenti{
    background-color: lightskyblue;
    border-radius: 20%;
    padding: 6px;
    color: white;
    font-size: small;
}

.goals{
    background-color: blueviolet;
}

.recruiting{
    background-color: rgb(151, 238, 151);
}

.mobile{
    background-color: orange;
}

.web{
    background-color: purple;
}

.sales{
    background-color: greenyellow;
}

.simbolo{
    border-radius: 50%;
    padding: 3px;
    background-color: white;
    font-size: small;
}


.check{
    border: 1px solid green;
    color: green;
}

.croce{
    border: 1px solid red;
    color:  red;   
}